{% extends 'engineering/engineering_base.html' %}
{% load static %}
{% block title %}
  Srinivas University - INSTITUTE OF ENGINEERING AND TECHNOLOGY
{% endblock %}
{% block content %}
  {% include 'engineering/navbar.html' %}

  <section class="py-3 mt-4 mb-4">
    <div class="container fade-in" style="margin-top: 0px;">
      <div class="row">
        <div class="col-md-8 col-xl-10 text-center mx-auto">
          <h2 class="fw-bold">INSTITUTE OF ENGINEERING AND TECHNOLOGY</h2>
          <p class="text-muted w-lg-50">Success is the sum of details - Harvey Firestone</p>
        </div>
      </div>
    </div>
  </section>

  <div class="container mb-4">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img src="https://srinivasuniversity.edu.in/et/images/abt-bg1.jpg" height="500" class="img-thumbnail" alt="Srinivas Engineering college" />
      </div>
      <div class="col-12 col-lg-6">
        <p>The Institute of Engineering & Technology is a constituent college under Srinivas University started with offering 4 years Bachelor Degree program B.Tech. in Civil Engineering, Mechanical Engineering, Computer Science Engineering, Electronics & Communication Engineering, Robotics, Artificial Intelligence & Machine Learning, Cyber Security & Cyber Forensics, Data Science, Cloud Technology & Information Security and Block Chain Technology & Distributed Computing . The college offers 2 years Master Degree program M.Tech in Structural Engineering, Construction Management, Computer Science & Engineering, Industrial Nano- Biotechnology, and Artificial Intelligence & Virtual Reality. The college also offers doctoral program in all the steams leading to Ph.D degree. The college is located at Srinivas University Campus, Mukka, Mangaluru.</p>
      </div>
    </div>
    
  </div>
  <style>
    .seven h1 {
      text-align: center;
          font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
          text-transform: uppercase;
      
          display: grid;
          grid-template-columns: 1fr max-content 1fr;
          grid-template-rows: 27px 0;
          grid-gap: 20px;
          align-items: center;
      }
      
      .seven h1:after,.seven h1:before {
          content: " ";
          display: block;
          border-bottom: 1px solid #c50000;
          border-top: 1px solid #c50000;
          height: 5px;
        background-color:#f8f8f8;
      }

      .eleven h1 {
        font-size:30px;text-align:center; line-height:1.5em; padding-bottom:45px; font-family:"Playfair Display", serif; text-transform:uppercase;letter-spacing: 2px; color:#111;
      }
      
      
      .eleven h1:before {
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 60%;
        left:50%; margin-left:-30%;
        height: 1px;
        content: "";
        background-color: #777; z-index: 4;
      }
      .eleven h1:after {
        position:absolute;
        width:40px; height:40px; left:50%; margin-left:-20px; bottom:0px;
        content: '\00a7'; font-size:30px; line-height:40px; color:#c50000;
        font-weight:400; z-index: 5;
        display:block;
        background-color:#f8f8f8;
      }
      
.thirteen h1 {
  position:relative; font-size:20px; font-weight:700;  letter-spacing:0px; text-transform:uppercase; width:150px; text-align:center; margin:auto; white-space:nowrap; border:2px solid #222;padding:5px 11px 3px 11px;
}
.thirteen h1:before, .thirteen h1:after {
    background-color: #c50000;
    position:absolute; 
    content: '';
    height: 7px;

    width: 7px; border-radius:50%;
    bottom: 12px;
}
.thirteen h1:before {
   left:-20px;
}
.thirteen h1:after {
   right:-20px;
}
.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}
.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}

      
  </style>

  <div class="container ">

    <div class="seven">
      <h1 class="fw-bold text-center mb-4 p-3" >Dean's Desk</h1>
    </div>

    <div class="row mt-4">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <div class="d-flex flex-row">
          <img class="rounded mx-auto d-block mt-2 img-fluid" src="{% static 'img/Engineeringimage/dr-thomas-pinto.jpg' %}"  alt="">
          <div class="vr " style="height: auto; padding: 1px; margin-left: 10px;"></div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <h4 class="fw-bold">Dr. Thomas Pinto</h4>
        <h5>B.E., M.Tech, Ph.D</h5>
        <p class="mt-3 h6">Times are changing and as we look around, we see several disruptions in the regular day to day activities. “Progress is impossible without change, and those who cannot change their minds cannot change anything” said George Bernard Shaw. It is imperative that we go beyond and seek out new paths and be pioneers. The Srinivas University has a definitive edge over many other universities in that it has started new courses in emerging fields. In the field of engineering & technology, Nanotechnology, Cyber Security & Forensic Science, Cloud technology, Data science are novel fields where opportunities are opening up. The traditional engineering courses such as Mechanical, Civil, Electronics & Communication and Computer science, being the bedrock on which modern trends are built, continue to have a large following.</p>
        <p class="blockquote-footer mt-2 text-end">Dean's Message</p>
      </div>
    </div>
  </div>

  <div id="department" class="mt-3 pt-2">

    <div class="container reveal eleven mt-4">
      <h1 class="fw-bold">Departments</h1>
    </div>

    <div class="container mt-4 mb-4 reveal ">
      <div class="card-deck">
        <div class="col col-sm-6 col-md-3 mt-4">
          <div class="card h-100">
            <a href="{% url 'cs_department' %}" style="text-decoration: none;">
              <img height="200" src="{% static 'img/Engineeringimage/department_image/cs.jpg' %}" class="card-img-top" alt="Hollywood Sign on The Hill" />
              <div class="card-body">
                <h5 class="card-title fw-bold flex text-center">CS Department</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="col col-sm-6 col-md-3 mt-4">
          <div class="card h-100">
            <img height="200" src="{% static 'img/Engineeringimage/department_image/ec.jpg' %}" class="card-img-top" alt="Palm Springs Road" />
            <div class="card-body">
              <h5 class="card-title fw-bold flex text-center">E&C Department</h5>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-3 mt-4">
          <div class="card h-100">
            <img height="200" src="{% static 'img/Engineeringimage/department_image/mech.jpg' %}" class="card-img-top" alt="Los Angeles Skyscrapers" />
            <div class="card-body">
              <h5 class="card-title fw-bold flex text-center">Mechanical Department</h5>
            </div>
          </div>
        </div>
        <div class="col col-sm-6 col-md-3 mt-4">
          <div class="card h-100">
            <img height="200" src="{% static 'img/Engineeringimage/department_image/civil.jpg' %}" class="card-img-top" alt="Skyscrapers" />
            <div class="card-body">
              <h5 class="card-title fw-bold flex text-center">Civil Department</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4 mb-4 reveal">
    <div class="card-deck">
      <div class="col col-sm-6 col-md-3 mt-4">
        <div class="card h-100">
          <img height="200" src="{% static 'img/Engineeringimage/department_image/aiml.jpg' %}" class="card-img-top" alt="Hollywood Sign on The Hill" />
          <div class="card-body">
            <h5 class="card-title fw-bold flex text-center">AI&ML Department</h5>
          </div>
        </div>
      </div>
      <div class="col col-sm-6 col-md-3 mt-4">
        <div class="card h-100">
          <img height="200" src="{% static 'img/Engineeringimage/department_image/robotics.jpg' %}" class="card-img-top" alt="Palm Springs Road" />
          <div class="card-body">
            <h5 class="card-title fw-bold flex text-center">Robotics and AIML Department</h5>
          </div>
        </div>
      </div>
      <div class="col col-sm-6 col-md-3 mt-4">
        <div class="card h-100">
          <img height="200" src="{% static 'img/Engineeringimage/department_image/mba.jpg' %}" class="card-img-top" alt="Los Angeles Skyscrapers" />
          <div class="card-body">
            <h5 class="card-title fw-bold flex text-center">MBA</h5>
          </div>
        </div>
      </div>
      <div class="col col-sm-6 col-md-3 mt-4">
        <div class="card h-100">
          <img height="200" src="{% static 'img/Engineeringimage/department_image/materialscience.jpg' %}" class="card-img-top" alt="Skyscrapers" />
          <div class="card-body">
            <h5 class="card-title fw-bold flex text-center">Material Science and Engineering</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container reveal mt-4 pt-4">
    <div class="row">
      <div class="col-sm-8">
        <div class="one">
          <h1 class="fw-bold">Events</h1>
        </div>
        <div class="mt-4">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for event in event %}
              <div class="col">
                <div class="card h-100">
                  <a href="{% url 'engineering_events_details' event.Title %}" style="text-decoration: none;">
                  <img src="{{ event.Image.url }}" class="card-img-top" height="200" alt="Skyscrapers" />
                  <div class="card-body" style=" overflow: hidden; height: 100px ;">
                    <h5 class="card-title fw-bold">{{ event.Title }}</h5>
                    <p class="card-text">{{ event.discription }}</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">{{ event.date }}</small>
                  </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="row ml-auto mt-4 mb-3">
            <a style="text-align: center;" href="{% url 'engineering_events' %}">See More</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mt-4">
        <div class="one">
          <h1 class="fw-bold">Announcement</h1>
        </div>
        <div class="overflow-auto mt-4" style="height: 450px;">
          <ul class="list-group list-group-light ">
          {% for news in news %}
            {% comment %} <div class="mt-4">
              <h5 class="card-header">{{ news.title }}</h5>
              <div class="card-body">{{ news.content }}</div>
            </div> {% endcomment %}
            {% comment %} <div class="alert alert-info"  role="alert">
              <div class="row">
                <div class="col-sm-8">
                  <h6 class="alert-heading alert-link">{{ news.title }}</h6>
                </div>
                <div class="col-sm-4">
                  <h6>{{ news.date }}</h6>
                </div>
              </div>
              <p class="text-truncate h6" style="max-width: 400px;">{{ news.content }}</p>
            </div> {% endcomment %}
            
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <div>
                  <div class="fw-bold">{{ news.title }}        {{ news.date }}</div>
                  <div class="text-muted">{{ news.content }}</div>
                </div>
                <span class="badge rounded-pill badge-danger">New</span>
              </li>
              {% endfor %}
            </ul>
        </div>
      </div>
    </div>
  </div>
  

  {% include 'footer.html' %}
{% endblock %}
