{% load static %}
<!-- Footer -->
<footer class="bg-dark text-center text-white mt-5">
    <!-- Grid container -->
    <div class="container-fluid p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
       <h1>Quick Links</h1>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
            Our mission is to provide an exceptional learning environment where students can develop and enhance their leadership and teamwork skills, creative and intellectual powers and passion for learning by providing an uncompromising standard of excellence in teaching; embodying the spirit of excellence to educate the citizen-leaders of society with distinction.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-warning">INFORMATION</h5>
  
            <ul class="list-unstyled mb-0" >
              <li >
                <a href="#!" class="text-white" style="text-decoration: none;">About Srinivas University</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Chancellor</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Pro Chancellor</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Vice Chancellor</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Registrar</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Infrastructure</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Privacy Policy</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Caution Notice</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-warning">OTHER</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Research</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">News & Events</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Fee Structure</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Examination</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Gallery</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Student Life</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-warning">COLLEGES</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Engineering & Technology</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Management & Commerce</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Allied Health Sciences</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Computer Science & Information</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Science</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Aviation Studies</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Social Sciences & Humanities</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Hotel Management & Tourism</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Physiotherapy</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Education</a>
              </li>
              <li>
                <a href="#!" class="text-white" style="text-decoration: none;">Nursing Science</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Follow us </h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="btn btn-outline-light btn-floating m-1" href="" role="button"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 
      <a class="text-white" href="/">Srinivas University</a>. All Rights Reserved. Site by | WebFlow
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->