{% extends 'base.html' %}
{% load static %}
{% block title %}
Srinivas University
{% endblock %}
{% block content %}

{% comment %}{% if error %}
 <div class="  alert alert-danger alert-dismissible fade show" id="myDIV">
  <strong>Email Already Exists!..</strong> 
  <button type="button" class="close button btn" onclick="myFunction()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<script>function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script> {% endcomment %}

    {% include 'navbar.html' %}



    <div class="video-background-holder">
  <div class="video-background-overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="{% static 'img/VIDEO_.mp4' %}" type="video/mp4">
    </video>
  <div class="video-background-content container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <!-- <h1 class="display-4">Srinivas University</h1> -->
        <!-- <p class="lead mb-0">Campus Tour</p> -->
      </div>
    </div>
  </div>
</div>
    <header class="bg-primary-gradient"></header>
    <section class="py-4 py-xl-5 reveal">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h2 class="text-uppercase fw-bold mb-3" style="padding-top: 40px;"><span style="color: rgb(0, 0, 0);">" The whole purpose of education is to turn mirros into windows "</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container reveal">
            
            {% comment %} <div class="row">
                <div class="col-md-4 bg-image hover-zoom">
                    <article class="card-banner bg-image hover-zoom bg-dark">
                        <div class="card-body bg-image hover-zoom" style="height: 250px;background: url(&quot;{% static 'img/university-life.jpeg' %} &quot;) center / cover no-repeat;"></div>
                        <div class="text-bottom bg-image hover-zoom">
                            <h5 class="title bg-image hover-zoom" style="text-align: center;">University Life</h5>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="card-banner bg-dark">
                        <div class="card-body" style="height: 250px;background: url(&quot;{% static 'img/courses.png' %} &quot;) center / cover no-repeat;"></div>
                        <div class="text-bottom" style="text-align: center;">
                            <h5 class="title">160+ Programs</h5>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="card-banner bg-dark">
                        <div class="card-body" style="height: 250px;background: url(&quot;{% static 'img/community.jpg' %}&quot;) center / cover no-repeat;"></div>
                        <div class="text-bottom" style="text-align: center;">
                            <h5 class="title">5000+ Students</h5>
                        </div>
                    </article>
                </div>
            </div> {% endcomment %}

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100 ">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img style="height: 250px;" src="{% static 'img/university-life.jpeg' %}" class="img-fluid"/>
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                    <div class="card-body">
                      <h5 class="card-title" style="justify-content: center;"><strong><b>University Life</b></strong></h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img style="height: 250px;" src="https://pbs.twimg.com/media/CkgH-vjUUAAefKI.jpg" class="img-fluid"/>
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>                    
                      <div class="card-body">
                      <h5 class="card-title " style="justify-content: center;"><strong><b>160+ Programs</b></strong></h5>
                     </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img style="height: 250px;" src="https://srinivasuniversity.edu.in/ahs/images/courses/Picture23.jpg" class="img-fluid"/>
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>                    
                      <div class="card-body">
                      <h5 class="card-title" style="justify-content: center;"><strong><b>5000+ Students</b></strong></h5>
                    </div>
                  </div>
                </div>
                
              </div>
        </div>
    </section>
    <div class="container">
    <div class="profile-card reveal" style="padding-top: 80px;">
        <div class="profile-back"></div><img class="rounded-circle profile-pic" src="{% static 'img/chancellor.png' %}">
        <h3 class="profile-name">Shri Dr. CA A. Raghavendra Rao<br><span style="font-weight: normal !important;">Chancellor of Srinivas University</span></h3>
        <p class="p-2">" My aim is to transform Society through education by setting up academic institutions in dynamic equilibrium with its social, ecological and economic environment striving continuously for excellence in education, research and technological service to the nation."</p>
    </div>
    </div>
    
    {% comment %} <div class="carousel slide reveal" data-bs-ride="false" id="carousel-1" style="padding-top: 80px;padding-bottom: 10px;">
        <div class="carousel-inner">
            <div class="carousel-item active"><img class="rounded w-100 d-block" src="{%static 'img/digi_lib.jpg'%}" alt="Slide Image" loading="lazy" width="600px" height="800px"></div>
            <div class="carousel-item"><img class="w-100 d-block" src="{%static 'img/digital_library.jpg'%}" alt="Slide Image" width="600px" height="800px"></div>
            <!-- <div class="carousel-item"><img class="w-100 d-block" src="landing_page_v1/assets/img/library3.jpg" alt="Slide Image" width="600px" height="800px"></div> -->
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
            <!-- <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li> -->
        </ol>
    </div> {% endcomment %}
    {% comment %} <div class=" reveal">
        <!-- Carousel wrapper -->
<div id="carouselMaterialStyle" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="2" aria-label="Slide 3"></button>
    </div>
  
    <!-- Inner -->
    <div class="carousel-inner  shadow-4-strong">
      <!-- Single item -->
      <div class="carousel-item active">
        <img src="{%static 'img/digi_lib.jpg'%}" style="height: 671px; width: 1320; " class="d-block w-100"
          alt="Sunset Over the City" />
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" style="height: 671px; width: 1320; " class="d-block w-100"
          alt="Canyon at Nigh" />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" style="height: 671px; width: 1320; " class="d-block w-100"
          alt="Cliff Above a Stormy Sea" />
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <!-- Inner -->
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->
    </div> {% endcomment %}

    




    <div id="about" class="m-5 reveal"><a href="http://103.105.224.229/sulibrary/"><button class="btn btn-primary d-block ribbon w-100" type="button" style="padding-bottom: 20px;padding-top: 20px;">Click here to Visit Digital Libarry</button></a></div>
    <section class="reveal " >
    <section class="py-5 mt-5">
        <div class="container " style="margin-top: 0px;">
            <div class="row ">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">Institutes Under Srinivas University</h2>
                    <p class="text-muted w-lg-50">Success is the sum of details - Harvey Firestone</p>
                </div>
            </div>
        </div>
    </section>
    


<section class="container reveal" >
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/institute/allied.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-center">INSTITUTE OF ALLIAD HEALTH SCIENCES</h5>
          </div>
        </div>
        <div class="card">
            <a href="{% url 'engineering' %}" style="text-decoration: none;">
          <img class="card-img-top" src="{% static 'img/institute/engineering.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-center">INSTITUTE OF ENGINEERING AND TECHNOLOGY</h5>
          </a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'img/institute/management.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-center">INSTITUTE OF MANAGEMENT AND COMMERCE</h5>
          </div>
        </div>
      </div>
      <div class="card-deck pt-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/institute/computer science and infromation.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-center">INSTITUTE OF COMPUTER SCIENCE &amp; INFORMATION SCIENCE</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'img/institute/social science.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-center">INSTITUTE OF SOCIAL SCIENCES &amp; HUMANITIES</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'img/institute/nursing.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-center">INSTITUTE OF NURSING SCIENCE</h5>
    
          </div>
        </div>
      </div>
      <div class="card-deck pt-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/institute/physiotherapy.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-center" >INSTITUTE OF PHYSIOTHERAPY</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'img/institute/hotel.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-center">INSTITUTE OF HOTEL MANAGEMENT &amp; TOURISM</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'img/institute/education.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-center">INSTITUTE OF EDUCATION</h5>
          </div>
        </div>
      </div>
</section>


<div id="contact">
    <section class="py-5 reveal">
        <div class="container" style="background:rgba(251, 251, 251, 0.15);">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Contacts</p>
                    <h2 class="fw-bold">How you can reach us</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div>
                        <form class="p-3 p-xl-4" method="post">
                            <div class="mb-3"><input class="form-control" type="text" id="name-1" name="name" placeholder="Name"></div>
                            <div class="mb-3"><input class="form-control" type="email" id="email-1" name="email" placeholder="Email"></div>
                            <div class="mb-3"><textarea class="form-control" id="message-1" name="message" rows="6" placeholder="Message"></textarea></div>
                            <div><button class="btn btn-primary shadow d-block w-100" type="submit">Send </button></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 d-flex justify-content-center justify-content-xl-start">
                    <div class="d-flex flex-wrap flex-md-column justify-content-md-start align-items-md-start h-100">
                        <div class="d-flex align-items-center p-3">
                            <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telephone">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                                </svg></div>
                            <div class="px-2">
                                <h6 class="fw-bold mb-0">Phone</h6>
                                <p class="text-muted mb-0">+123456789</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center p-3">
                            <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-envelope">
                                    <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
                                </svg></div>
                            <div class="px-2">
                                <h6 class="fw-bold mb-0">Email</h6>
                                <p class="text-muted mb-0">info@example.com</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center p-3">
                            <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pin">
                                    <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408-.002-.001.002.001zm-.002-.001.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z"></path>
                                </svg></div>
                            <div class="px-2">
                                <h6 class="fw-bold mb-0">Location</h6>
                                <p class="text-muted mb-0">12 Example Street</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



    <section class="py-5 reveal" id="newsletter">
        <div class="container">
            <div class="border rounded border-white d-flex flex-column justify-content-between align-items-center flex-lg-row bg-primary-gradient p-4 p-lg-5">
                <div class="text-center text-lg-start py-3 py-lg-1">
                    <h2 class="fw-bold mb-2">Subscribe to our newsletter</h2>
                    <p class="mb-0">Imperdiet consectetur dolor.</p>
                </div>
                <form class="d-flex justify-content-center flex-wrap flex-lg-nowrap" method="post">
                  {% csrf_token %}
                    <div class="my-2"><input class="border rounded-pill shadow-sm form-control" type="email" name="email" placeholder="Your Email">
                      </div>
                    <div class="my-2"><button class="btn btn-primary shadow ms-2" type="submit">Subscribe</button></div>
                </form>
              </div>
        </div>
    </section>

    {% include 'footer.html' %}
    
   
{% endblock %}